extends layout

block content
  div#preview.text
  div#saveNotice.alert.alert-success
    p File successfully saved!
  div#alertBox.alert.alert-block.fade.in.hide
    p#alertContent Hey! You already have a file open. Make sure to save before opening this new one, or else you'll lose all your changes!
    a#saveAction.btn.btn-success Save &amp; Action
    a#action.btn.btn-warning Action
    a#closeAlert.btn() Close
  textarea#input.text(form="save", name="body", placeholder="The first note-taking app that writes descriptions of terms for you. Take notes like you normally would. If there is something you need to look up, press enter, type in a term, then press SHIFT + ENTER. Need help? Click 'Tutorial' above.")
  div#footer-trigger
    div#footer.navbar
      div.navbar-inner
        a.btn.btn-navbar.navbar-inverse(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#', data-content='Hi') NoteGenie
        // Main Nav 
        ul.nav.pull-left
          li
            a#about.footerScreenTrigger(href='#', data-target='aboutScreen') About
          li.dropdown
            a.tutorial.dropdown-toggle(href='#', data-toggle='dropdown', data-target='helpScreen') Tutorial
            ul.dropdown-menu
              li
                a.tutorial(href='#') Tutorial
              li
                a#help.footerScreenTrigger(href='#', data-toggle='dropdown', data-target='helpScreen') Guide
          li
            a#login(href='#') Login
        // Tools 
        ul.nav.pull-right.nav-collapse.collapse
          li
            a#clear(href='#') Clear
          li
            a#markdownMode(href='#') Prettify
          li
            a#files.footerScreenTrigger(href='#', data-target='filesScreen') Files
          li.nohover
            form.navbar-form
              input#fileName(type='text', placeholder='File Name')
          li.dropdown
            a#settingsTrigger(data-toggle="none", href='#')
              | Settings
              b.caret
            ul#settings.dropdown-menu
              li.nohover
                button#soundToggle.btn.down(type="button") Sounds On
              li.nohover
                form.navbar-form
                  input#font-size(type='number', value='16', min='5')
              li
                a.font-btn(data-font='Arial', href='#') Arial
              li
                a.font-btn(data-font='Consolas', href='#') Consolas
              li
                a.font-btn(data-font='EB Garamond', href='#') EB Garamond
              li
                a.font-btn(data-font='Handlee', href='#') Handlee
              li
                a.font-btn(data-font='Open sans', href='#') Open Sans
          li.nohover
            button#save.btn(type='submit') Save
      a#closeScreen.close(href='#') &times;
      div#filesScreen.footer-screen
        div#currentFile
          h3 No file currently open. You are working on the scratch notepad. 
        div
          h3#path
        div#fileScreenToolbar
        ul#fileList
      div#aboutScreen.footer-screen
        img.screenImage(src='images/flight-cover.jpg')
        img.screenImage(src='images/flight-cover.jpg', style='left: 0; top: 0; position: absolute;')
        p 
          | NoteGenie is the first note-taking app that writes descriptions of terms for you. It's a new way to take notes in situations where you're bombarded with new concepts, people, places, etc.
        h4 Features
        ul
          li Writes descriptions of historical events, concepts, places, names, etc for you.
          li Automatically saves your notes every 2 seconds and saves your font preferences, without having to login.
          li Light-weight, distraction-free, fast.
          li Supports Markdown.
          li Supports Dropbox integration.
            ul
              li Save text files to Dropbox
              li Open text files from Dropbox
        h4 Privacy
        ul
          li We do NOT have access to your Dropbox password.
          li We do NOT store your files.
          li Text currently in the notepad is saved in your browser's cache.
        p by 
          a(href='mailto:earl.lee@yale.edu') Earl 
          | and 
          a(href='mailto:shenil.dodhia@yale.edu') Shenil
      div#helpScreen.footer-screen
        h5 How to Use NoteGenie
        p Take notes like you normally would. If there is something you need to look up, press enter, type in a term, then press SHIFT + ENTER. (If you want pure definitions, put a '?' before each term).
          | NoteGenie can handle a variety of terms from famous people's names to economics topics.
        h5 Formatting &amp; Markdown
        p Need to bold, italicize, and more? Use the following syntax to indicate words in bold. Then, press <strong>CTRL + M</strong> to see the effects. For a more detailed guide, go 
          a(href='http://softwaremaniacs.org/playground/showdown-highlight/') here 
          | or
          a(href='http://daringfireball.net/projects/markdown/')  here.
        table.table
          colgroup
          colgroup(span='1', title='title')
          thead
            tr
              th(scope='col') Name
              th(scope='col') Syntax
              th(scope='col') Detail
              th(scope='col', width='35%') Example
          tbody
            tr
              td Bold
              td **text**
              td Wrap text that needs go be bold in '**'.
              td
                pre
                  | **Bolded text**
            tr
              td Italics
              td *text*
              td Wrap text that needs go be italicized in '*'.
              td
                pre
                  | *Italicized text*
            tr
              td Heading
              td #
              td Use at beginning. Up to 6 levels. Higher levels give smaller headings.
              td
                pre
                  | ##Level 2 Heading                  
            tr
              td Horizontal Rule
              td ---
              td Keep in it's own line.
              td
                pre
                  | #Heading                  
                  | ---                  
                  | Content goes here.                  
            tr
              td Unordered Lists
              td *,+,-
              td Keep a space in between list marker and item.
              td
                pre.
                  | * List item 1
                  | * List item 2                  
            tr
              td Images
              td ![Title](URL)
              td This will insert in-line images.
              td
                pre.
                  | ![NoteGenie Logo](www.notegenie.io/logo.gif)                  
  div#alertBox.modal-backdrop.fade.in
