extends layout

block content
  div#preview.text
  div#saveAlert.alert.alert-block.fade.in.hide
    p#saveContent Hey! You already have a file open. Make sure to save before opening this new one, or else you'll lose all your changes!
    a#saveAction.btn.btn-success Save &amp; Action
    a#action.btn.btn-warning Action
    a#closeAlert.btn() Close
  textarea#input.text(form="save", name="body", placeholder="A better way of note-taking. Don\'t know a certain term, event, or person? Just type in the name in its own line and press enter! The Note Genie will give you a brief description of that term right inside your notes. Also, press CTRL+M to see a neater version of your notes (Supports markdown). Just try it out!")
  div#footer-trigger
    div#footer.navbar
      div.navbar-inner
        a.btn.btn-navbar.navbar-inverse(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#', data-content='Hi') NoteGenie
        // Main Nav 
        ul.nav.nav-collapse.pull-left
          li
            a#about.footerScreenTrigger(href='#', data-target='aboutScreen') About
          li
            a#help.footerScreenTrigger(href='#', data-target='helpScreen') Help
          li
            a#login(href='#') Login
        // Tools 
        ul.nav.nav-collapse.collapse.pull-right
          li
            a#new(href='#') New
          li
            a#files.footerScreenTrigger(href='#', data-target='filesScreen') Files
          li.nohover
            form.navbar-form
              input#fileName(type='text', column='8', placeholder='File Name')
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              | Fonts
              b.caret
            ul.dropdown-menu.bottom-up
              li
                a.font-btn(data-font='Arial', href='#') Arial
              li
                a.font-btn(data-font='Consolas', href='#') Consolas
              li
                a.font-btn(data-font='EB Garamond', href='#') EB Garamond
              li
                a.font-btn(data-font='Handlee', href='#') Handlee
              li
                a.font-btn(data-font='Open sans', href='#') Open Sans
          li.nohover
            form.navbar-form
              input#font-size(column='2', type='number', value='16', min='5')
          li.nohover
            button#save.btn(type='submit') Save
      a#closeScreen.close(href='#') &times;
      div#filesScreen.footer-screen
        div#currentFile
          h3 No file currently open. You are working on the scratch notepad. 
        ul#fileList
      div#aboutScreen.footer-screen
        p 
          | This is a better way to take notes. Originally conceived during a history class and prototyped during the 2013 Yale Boot Up/Yale College Council Hackathon, NoteGenie allows you to take notes while seamlessly pulling descriptions of unknown terms from popular databases.
        p by 
          a(href='mailto:earl.lee@yale.edu') Earl 
          | and 
          a(href='mailto:shenil.dodhia@yale.edu') Shenil
        h4 Features
        ul
          li Pulls descriptions of historical events, concepts, places, names, etc.
          li Automatically saves your notes every 2 seconds.
          li Saves your font preferences.
          li Supports markdown.
          li Supports Dropbox integration.
            li Save text files to Dropbox
            li Open text files from Dropbox
        h5 The Stack
        ul
          li jQuery
          li HTML5
          li 
            a(href='http://twitter.github.com/bootstrap/') 
              | Twitter Bootstrap
          li 
            a(href='https://github.com/chjj/marked') 
              | Marked.js
          li 
            a(href='https://github.com/dropbox/dropbox-js') 
              | Dropbox API
      div#helpScreen.footer-screen
        h5 How to Use NoteGenie
        p Take notes like you normally would. If there is something you need to look up, press enter, type in that something, then press enter again.
          | Need to bold, italicize, and more? Take a look below!
        h5 Markdown
        p Use the following syntax to do special stuff to your text. Then press CTRL + M to see the effects.
        table.table
          caption Markdown Syntax
          colgroup
          colgroup(span='1', title='title')
          thead
            tr
              th(scope='col') Name
              th(scope='col') Syntax
              th(scope='col') Options
              th(scope='col', width='35%') Example
          tbody
            tr
              td Bold
              td **text**
              td Wrap text that needs go be bold in '**'.
              td
                pre
                  | **Bolded text**
            tr
              td Italics
              td *text*
              td Wrap text that needs go be italicized in '*'.
              td
                pre
                  | *Italicized text*
            tr
              td Heading
              td #
              td Use at beginning. Up to 6 levels. Higher levels give smaller headings.
              td
                pre
                  | ##Level 2 Heading                  
            tr
              td Horizontal Rule
              td ---
              td Keep in it's own line.
              td
                pre
                  | #Heading                  
                  | ---                  
                  | Content goes here.                  
            tr
              td Unordered Lists
              td *,+,-
              td Keep a space in between list marker and item.
              td
                pre.
                  | * List item 1
                  | * List item 2                  
            tr
              td Images
              td ![Title](URL)
              td This will insert in-line images.
              td
                pre.
                  | ![NoteGenie Logo](www.notegenie.io/logo.gif)                  
  div#saveAlert.modal-backdrop.fade.in
