<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>NoteGenie</title>
    <meta name="title" content="NoteGenie | Better way to take notes" />
    <meta name="description" content="A better way to take notes and stay informed." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond|Handlee|Open+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="preview" class="text"></div>

    <textarea form="save" name="body" id="input" class="text" name="comments" placeholder="A better way of note-taking. Don't know a certain term, event, or person? Just type in the name in its own line and press enter! The Note Genie will give you a brief description of that term right inside your notes. Just try it out!"></textarea>
    <div id="footer" class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="#">NoteGenie</a>
        
        <!-- Main Nav -->
        <ul class="nav">
          <li><a href="#" id="about" data-content="By Earl & Shenil. Made with love from TD.">About</a></li>
          <li><a href="#" id="help">Help</a></li>
          <li><a href="auth/dropbox">Login</a></li>
        </ul> 

        <!-- Tools -->
          <ul class="nav nav-collapse dropup pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Fonts
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu bottom-up"> 
              <li><a class="font-btn" data-font="Arial" href="#">Arial</a></li>
              <li><a class="font-btn" data-font="Consolas" href="#">Consolas</a></li>
              <li><a class="font-btn" data-font="EB Garamond" href="#">EB Garamond</a></li>
              <li><a class="font-btn" data-font="Handlee" href="#">Handlee</a></li>
              <li><a class="font-btn" data-font="Open sans" href="#">Open Sans</a></li>
            </ul>
            </li>

            <li><form class="navbar-form">
              <input id="font-size" column="2" type="number" value="16" min="5">
            </form>
            </li>
            <li><form method="post" id="save" class="navbar-form">
              <button type="submit" class="btn">Save</button>
            </form></li>
          </ul>

      </div>  <!-- End navbar-inner -->
    </div>  <!-- End navbar -->

    <!-- 'Help' modal -->
    <div id="helpModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
        <h3 id="modalHeaderLabel">Help</h3>
      </div>
      <div class="modal-body">
        <p>Need help using NoteGenie? Take a look below!</p>
        <h4>Markup</h4>
        <p>To toggle markup view, press CTRL + M.</p>
        <table class="table">
          <caption>Markdown Syntax</caption>
          <colgroup />
            <colgroup span="1" title="title" />
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Syntax</th>
                  <th scope="col">Options</th>
                  <th scope="col" width="35%">Example</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Heading</td>
                  <td>#</td>
                  <td>Use at beginning. Up to 6 levels. Higher levels give smaller headings.</td>
                  <td><pre>##Level 2 Heading</pre></td>
                </tr>
              <tr>
                <td>Horizontal Rule</td>
                <td>---</td>
                <td>Keep in it's own line.</td>
                <td><pre>#Heading</br>---</br>Content goes here.</pre></td>
              </tr>
              <tr>
                <td>Unordered Lists</td>
                <td>*,+,-</td>
                <td>Keep a space in between list marker and item.</td>
                <td><pre>* List item 1</br>* List item 2</pre></td>
              </tr>
              <tr>
                <td>Images</td>
                <td>![Title](URL)</td>
                <td>This will insert in-line images.</td>
                <td><pre>![NoteGenie Logo](www.notegenie.io/logo.gif)</pre></td>
              </tr>
              </tbody>
            </table>
      </div>
    </div>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://modernizr.com/downloads/modernizr-latest.js"></script> <!-- Checks for HTML5 features -->
    <script type="text/javascript" src="javascripts/marked.js"></script>
    <script type="text/javascript" src="javascripts/functions.js"></script>

    <!-- Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-10750769-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    </body>
</html>
