!!! 5
html
  head
    meta(charset='UTF-8')
    title NoteGenie
    meta(name='title', content='NoteGenie | Better way to take notes')
    meta(name='description', content='A better way to take notes and stay informed.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='//fonts.googleapis.com/css?family=EB+Garamond|Handlee|Open+Sans', rel='stylesheet', type='text/css')
  body
    block content
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='bootstrap/js/bootstrap.js')
    script(type='text/javascript', src='javascripts/modernizr.js')
    // Checks for HTML5 features 
    script(type='text/javascript', src='javascripts/marked.js')
    script(type='text/javascript', src='javascripts/functions.js')
    script(type='text/javascript', src='javascripts/dropbox.js')
    script(type='text/javascript', src='javascripts/dboxClientE.js')
    // Analytics 
    script(type='text/javascript')
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10750769-6']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
