!!! 5
html
  head
    meta(charset='UTF-8')
    title NoteGenie
    meta(name='title', content='NoteGenie | Better way to take notes')
    meta(name='description', content='A better way to take notes and stay informed.')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/gif', href='images/favicon@2x.gif')
    link(href='bootstrap/css/bootstrap.css', rel='stylesheet', media='screen')
    link(href='//fonts.googleapis.com/css?family=EB+Garamond|Handlee|Open+Sans', rel='stylesheet', type='text/css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css', rel='stylesheet')
  body
    block content
    audio#key1(preload='true')
      source(src='sounds/key1.mp3', type='audio/mp3')
    audio#key2(preload='true')
      source(src='sounds/key2.mp3', type='audio/mp3')
    audio#key3(preload='true')
      source(src='sounds/key3.mp3', type='audio/mp3')
    audio#key4(preload='true')
      source(src='sounds/key4.mp3', type='audio/mp3')
    audio#enter1(preload='true')
      source(src='sounds/enter1.mp3', type='audio/mp3')
    audio#enter2(preload='true')
      source(src='sounds/enter2.mp3', type='audio/mp3')
    audio#enter3(preload='true')
      source(src='sounds/enter3.mp3', type='audio/mp3')
    audio#enter4(preload='true')
      source(src='sounds/enter4.mp3', type='audio/mp3')
    audio#enter5(preload='true')
      source(src='sounds/enter5.mp3', type='audio/mp3')
    audio#backspace1(preload='true')
      source(src='sounds/backspace1.mp3', type='audio/mp3')
    audio#backspace2(preload='true')
      source(src='sounds/backspace2.mp3', type='audio/mp3')
    audio#backspace3(preload='true')
      source(src='sounds/backspace3.mp3', type='audio/mp3')
    audio#backspace4(preload='true')
      source(src='sounds/backspace4.mp3', type='audio/mp3')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript', src='javascripts/ng.min.js')
                
    // Analytics 
    script(type='text/javascript')
      var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-10750769-6']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
