body {
	color: #585858;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.5;
}
.accessible {
	padding: 10px;
	background: #fff;
}
.accessible ul {
	font-size: 125%;
}
.accessible.hide {
	display: none;
}

/*Core Layout*/
#wrapper,
.wrap {
	margin: 0 auto;
	width: 978px;
}
#container {
	margin: 0 0 15px 0;
}
#nav-col {
	width: 222px;
	float: left;
}
#content-col {
	margin: 0 0 0 30px;
	width: 726px;
	float: left;
}
#sidebar {
	width: 222px;
	float: right;
	display: none;
}

/*Conditional*/
body.narrow #content-col {
	padding: 0 14px 0 0;
	width: 474px;
	float: left;
	border-right: 1px solid #ededed;
}
body.narrow #sidebar {
	display: block;
}

/*Header*/
#header {
	padding: 0 0 27px 0;
	background: #095198 url(../images/header-bg.gif) repeat-x left bottom;
}
#logo {
	margin: 0 0 5px 0;
	width: 112px;
	float: left;
}
#logo a {
	width: 112px;
	height: 34px;
	display: block;
	text-indent: -9999em;
	background: url(../images/logo.png) no-repeat left top;
}
#header h1 {
	font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif;
	font-size: 2.625em;
	color: #fff;
	line-height: 1;
}
body.yalecollege #header h1 {
	padding: 0 0 0 50px;
	background: url(../images/shield-yalecollege.png) no-repeat left center;
}
#header h1 a {
	color: #fff;
	text-decoration: none;
}

/*Search*/
#search {
	margin: 5px 0;
	padding: 1px;
	width: 218px;
	float: right;
	border: 1px solid #85a6c9;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#search label {
	display: none;
}
#search .searchbox {
	padding: 0 0.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.75em;
	color: #85a6c9;
	width: 185px;
	height: 21px;
	float: left;
	background: 0;
	border: 0;
}
.submit {
	text-indent: -9999em;
	border: 0;
	width: 25px;
	height: 21px;
	float: right;
	font-size: 0;
	cursor: pointer;
	background: url(../images/btn-search.png) no-repeat left bottom;
}
#search .searchbox:hover {
	color: #003466;
	background: #85a6c9;
}
.submit:hover {
	background: url(../images/btn-search.png) no-repeat left top;
}

/*Main Nav*/
#navigation {
	margin: 0 0 20px 0;
	border-bottom: 1px solid #0c4c92;
}
#navigation li {
	font-size: 0.875em;
	text-transform: uppercase;
	display: inline;
}
#navigation li a {
	padding: 0 2em 0.25em 0;
	color: #333;
	float: left;
	display: block;
	text-decoration: none;
}
#navigation li a:hover {
	color: #2a9fe4;
}

/*Breadcrumb*/
#breadcrumb {
	margin: 0 0 20px 0;
}
#breadcrumb ul {
	font-size: 0.75em;
}
#breadcrumb ul li {
	padding: 0 .3em 0 0;
	display: inline;
}
#breadcrumb ul li:first-child {
	display: none;
}
#breadcrumb ul li a {
	padding: 0 .3em 0 0;
	color: #0c4c92;
	text-decoration: none;
}
#breadcrumb ul li a:hover {
	color: #2a9fe4;
}

/*Nav Col*/
#edition {
	padding: 0 0 .3em 0;
	font-size: 1.125em;
	color: #333;
}
#cl-menu ul {
	font-size: 0.8125em;
}
#cl-menu ul ul {
	padding: 0 0 0 1em;
	font-size: 1em;
}
#cl-menu ul ul ul,
/*#cl-menu li.navheader ~ li*/ {
	padding: 0 0 0 2em;
}
#cl-menu ul li a {
	padding: .3em 0;
	display: block;
	border-top: 1px solid #ededed;
	color: #585858;
	text-decoration: none;
}
#cl-menu ul li a:hover {
	color: #2a9fe4;
	background: url(../images/nav-over.gif) repeat-x left top;
}
#cl-menu ul ul li a {
	padding: .2em 0 .2em 1em;
	border-top: 0;
	white-space: pre-wrap;
	text-indent: -1em;
}
#cl-menu ul li.active > a {
	font-weight: bold;
}

/*
#cl-menu li.navheader > a {
	cursor: pointer;
}
#cl-menu li.navheader > a.expanded {
    cursor: pointer;
}
*/

/*CL Menu Controls - Shows in Mobile Context*/
#cl-menu-control {
	margin: 0 0 15px 0;
	padding: 5px 10px;
	background: #f1f5fa;
	display: none;
	border: 1px solid #c1d5ec;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#nav-col a.cl-menu-text {
	padding: 3px 0 0 0;
	color: #4477aa;
	float: left;
	font-size: .8em;
	text-decoration: none;
}
#nav-col a.cl-menu-btn {
	display: block;
	width: 32px;
	float: right;
	background: #4477aa url(../images/icon-cl-menu.png) no-repeat center center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	text-indent: -9999em;
}

/*Banner*/
#banner {
	margin: 0 0 15px 0;
	padding: 2px;
	border: 1px solid #ededed;
}
#banner img {
	vertical-align: top;
}

/*Sidebar*/
#sidebar .section {
	margin: 0 0 1em 0;
}
#sidebar h3 {
	padding: 0 0 .3em 0;
	font-size: 1.125em;
	color: #333;
}
#sidebar ul {
	font-size: 0.8125em;
}
#sidebar ul li {
	padding: 0 0 .25em 0;
	color: #585858;
}
#sidebar ul li a {
	color: #585858;
	text-decoration: none;
}
#sidebar ul li a:hover {
	color: #2a9fe4;
}

/*Footer*/
#footer {
	margin: 0 auto;
	width: 978px;
	padding: 17px 15px;
	border-top: 1px solid #0c4c92;
}
#foot-logo {
	width: 252px;
	float: left;
}
#foot-logo a {
	width: 62px;
	height: 29px;
	display: block;
	text-indent: -9999em;
	background: url(../images/logo-footer.png) no-repeat left top;
}
#foot-content {
	width: 726px;
	float: left;
}
#foot-content p {
	font-size: 0.6875em;
	float: left;
}
#foot-content p a {
	color: #0c4c92;
	text-decoration: none;
}
#foot-content p a:hover {
	color: #2a9fe4;
}
#foot-content ul.social {
	width: 240px;
	float: right;
}
#foot-content ul li {
	display: inline;
}
#foot-content ul.social li.facebook a,
#foot-content ul.social li.twitter a,
#foot-content ul.social li.flickr a,
#foot-content ul.social li.itunes a,
#foot-content ul.social li.youtube a {
	margin: 0 0 0 24px;
	height: 24px;
	width: 24px;
	display: block;
	float: left;
	text-indent: -9999em;
	background: url(../images/social.png) no-repeat left top;
}
#foot-content ul.social li.facebook a {
	background-position: 0 0;
}
#foot-content ul.social li.twitter a {
	background-position: -24px 0;
}
#foot-content ul.social li.flickr a {
	background-position: -48px 0;
}
#foot-content ul.social li.itunes a {
	background-position: -72px 0;
}
#foot-content ul.social li.youtube a {
	background-position: -96px 0;
}
#foot-content ul.social li.facebook a:hover {
	background-position: 0 -24px;
}
#foot-content ul.social li.twitter a:hover {
	background-position: -24px -24px;
}
#foot-content ul.social li.flickr a:hover {
	background-position: -48px -24px;
}
#foot-content ul.social li.itunes a:hover {
	background-position: -72px -24px;
}
#foot-content ul.social li.youtube a:hover {
	background-position: -96px -24px;
}

/*Content*/
#content a {
	color: #4477aa;
	text-decoration: none;
}
/*General Typography*/
#content h1 {font-size: 2.25em; margin: 0 0 .25em 0; font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif; color: #4477aa; line-height: 1.2;}
#content h2 {font-size: 1.875em; margin: 0 0 .25em 0; font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif; color: #4477aa; line-height: 1.2;}
#content h3 {font-size: 1.5em; margin: 0 0 .25em 0; font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif; color: #4477aa; line-height: 1.2;}
#content h4 {font-size: 1.225em; margin: 0 0 .25em 0; font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif; color: #4477aa; line-height: 1.2;}
#content h5 {font-size: 0.9375em; margin: 0 0 .25em 0; font-weight: bold;}
#content h6 {font-size: 0.8125em; margin: 0 0 .25em 0; font-weight: bold;}
#content p, #content dl {font-size: 0.8125em; margin: 0 0 1em 0;}
#content ul {font-size: 0.8125em; list-style: disc; margin: 0 0 .5em 25px;}
#content ol {font-size: 0.8125em; list-style: decimal; margin: 0 0 .5em 25px;}
#content ol li, #content ul li {margin: 0 0 .5em 0;}
#content li br {margin: 0 0 .5em 0;}
#content ul li ul, #content ol li ol {font-size: 1em;}
#content ol li ul, #content ul li ol {font-size: 1em;}
#content li p, #content ul table, #content ol table {font-size: 1em;}
#content sup {font-size: .8em; vertical-align: super; line-height: 1;}
#content hr {display: block; height: 1px; border: 0; border-top: 1px solid #ededed; margin: 1em 0; padding: 0;}

/*Nested Ordered Lists*/
#content ol ol {list-style: lower-alpha;}
#content ol ol ol {list-style: lower-roman;}
#content ol ol li:first-child, #content ol ol ol li:first-child {margin-top: .5em;}

/*Nested Unordered Lists*/
#content ul ul li:first-child, #content ul ul ul li:first-child {margin-top: .5em;}

/*Blockquotes*/
#content blockquote {margin: 0 0 .25em 0;  padding: 0;}
#content blockquote p {line-height: 1.5;}
#content blockquote cite {display: block; font-size: 0.8125em;}
#content blockquote cite:before {content: "\2014 \0020";}
#content blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {color: #ededed;}

/*Tables*/
#content table {font-size: 0.8125em; margin: 0 0 1em 0; border-collapse: collapse; border-spacing: 0; width: 100%;}
#content th {padding: .3em; vertical-align: top; font-size: 1.5em; font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif; color: #4477aa; border-bottom: 1px solid #d2e7f5; text-align: left;}
#content td {border-top: 1px solid #d2e7f5; padding: .3em; vertical-align: top;}
#content td img {vertical-align: top;}
#content td p {margin: 0; font-size: 1em;}
#content td ul {font-size: 1em;}

/*Forms*/
#content form {font-size: 0.8125em; margin: 0 0 1em 0;}
#content form input, #content form select {font-size: 1em;}

/*Two Columns*/
#content .cola {
	width: 358px;
	float: left;
}
#content .colb {
	width: 358px;
	float: right;
}

/*Structured Content*/
#content tr.areaheader td,
#content td.areaheader,
#content tr.listsum td,
#content tr.plangridtotal td,
#content tr.plangridsum td {
	font-weight: bold;
}
#content tr.odd {
	background: #fffeee;
}
#content tr.orclass td {
	padding-top: 0;
	border-top: none;
}
#content tr.orclass td.codecol {
	padding-left: 1em;
}
#content td.hourscol,
#content th.hourscol {
	text-align: right;
}

/*Footnotes*/
#content .sc_footnotes {
	border: 0;
}
#content .sc_footnotes td {
	padding: 0 0 .75em 0;
	border: 0;
}
#content .sc_footnotes td.symcol {
	width: 15px;
	font-size: .8em;
	vertical-align: super;
}

/*Plan Grid*/
#content .sc_plangrid tr.plangridterm th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #585858;
	font-weight: bold;
}
#content .sc_plangrid th.hourscol,
#content .sc_plangrid td.hourscol {
	padding-right: .75em;
}

/*Course Blocks*/
#content p.courseblocktitle {
	margin: 0;
	font-weight: bold;
}
#content .instructor {
	font-weight: normal;
	margin-left: 30px;
}

/*Calendar*/
#content table.caltable td {
	min-width: 40px;
}
#content table.caltable th {
	font-size: 2em;
}

/*Key to Course Listings*/
#content table.tbl_courselistings td.column0 {
	width: 30%;
}

/*Tabs*/
#content #tabs ul {
	margin: 0 0 1em 0;
	list-style: none;
}
#content #tabs ul li {
	font-size: 1em;
	display: inline;
}
#content #tabs ul li a {
	margin: 0 5px 5px 0;
	padding: .75em 1em;
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-decoration: none;
	background: #095198;
	display: block;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#content #tabs ul li a:hover,
#content #tabs ul li.active a {
	background: #4477aa;
}

/*A-Z Index*/
#content ul.letternav {
	margin: 0 0 1em 0;
	list-style: none;
}
#content ul.letternav li {
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	margin: 0 1px 1px 0;
}
#content ul.letternav li a,
#content ul.letternav li.inactive {
	padding: .25em .6em;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 1em;
	float: left;
	border: none;
	background: #095198;
}
#content ul.letternav li.inactive {
	background: #999;
}
#content ul.letternav li a {
	color: white;
	text-decoration: none;
	border: none;
}
#content ul.letternav li a:hover,
#content ul.letternav li a:active,
#content ul.letternav li a:focus {
	background: #4477aa;
}

/*Image Floats*/
#content img.imgleft {
	padding: 0 10px 10px 0;
}
#content img.imgright {
	padding: 0 0 10px 10px;
}

/*Custom Lists*/
#content ul.tightlist {list-style: none; margin: 0 0 .5em 0;}
#content ul.tightlist ul {list-style: none; margin: 0 0 0 25px;}
#content ul.tightlist li {margin: 0 0 0 0;}
#content ul.tightlist ul li:first-child, #content ul.tightlist ul ul li:first-child {margin-top: 0;}

/*Temporary Fixes*/
#content p.facultyRankHead {
	margin: 0;
	font-weight: bold;
}
#content #coursestextcontainer h3 {
	margin: 1em 0 .5em 0;
}
#content #coursestextcontainer h4 {
	margin: 1em 0 .75em 0;
}

/*Print Popup*/
#print-dialog {
	padding: 0;
	width: 350px;
	font-size: 0.8125em;
	background: #fff;
	border: 1px solid #ededed;
	text-align: left;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 0px 2px #aaa;
	-moz-box-shadow: 0px 0px 2px #aaa;
	-webkit-box-shadow: 0px 0px 2px #aaa;
}
#print-dialog .print-header {
	padding: 10px;
	font-size: 2.25em;
	font-family: 'YaleDesign', Georgia, "Times New Roman", Times, serif;
	color: #4477aa;
	line-height: 1.2;
	border-bottom: 1px solid #ededed;
}
#print-dialog .print-body {
	padding: 10px;
}
#print-dialog .print-option {
	padding: 0 0 10px 0;
}
#print-dialog .print-option a {
	color: #3693ce;
	text-decoration: none;
	border-bottom: 1px solid #ededed;
}
#print-dialog .option-head {
	color: #003d7d;
}
#print-dialog .buttons {
	padding: 10px;
	background: #095198;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
}
#print-dialog .cancel a {
	padding: 5px;
	font-size: 1em;
	color: #fff;
	width: 60px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #4477aa;
	text-decoration: none;
	float: right;
}

/*Archive Message*/
.archive-message p {
	padding: .5em;
	border: 1px solid #ededed;
}

/*Clearfix*/
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
